::-webkit-scrollbar-track
{
background-color:$forecolor*0.999;
}

::-webkit-scrollbar
{
	width: 10px;
	border:none;
}
::-webkit-scrollbar-thumb:focus{
background-color:$tblheader*0.85;
	}
::-webkit-scrollbar:horizontal
{
	height: 20px;
}

::-webkit-scrollbar-thumb,
{
	background-color:$tblheader*0.9;
}
::-webkit-scrollbar-thumb:hover
{
	background-color:$tblheader*0.8;
	transition:0.325s;
}
