$top:50px;
$maxWidth:700px;
#app{
    
    // display:flex;
    // flex-direction: row;
    font-family: 'Arial';
    color:white;
    align-items: flex-start;
    margin:auto $top!important;
    // max-width: 0;
    background: rgb(211, 211, 211)*0.999;
    // max-width: 1000px;
    #schedule{
        // height:400px;
        // overflow-y: scroll;
        max-width: 775px;
        margin:0!important;
        // background:$tblbackground;
            table{
                z-index: -3;
                // border:0.5px solid $bordercolor;
                border-collapse: collapse;
                border:none!important;
                // margin-top:$height*5;
                tbody{
                    tr{
                        &:first-child>td{
                            height:$height*3;
                            font-size:$height*1.05;
                            font-weight: bold;
                            color:white;
                            background:$header!important;
                        }
                        &:nth-child(2)>td,&:last-child>td{
                            background:$time!important;
                        }
                        td{
                            border:1px solid $bordercolor;
                            height:$height;
                            width:$width;
                            text-align: center;
                            -webkit-user-select: none;
                            -ms-user-select: none;
                            -moz-user-select: none;
                            user-select: none;
                            color:$tdcolor;
                            background: $tblbackground;
                            &:first-child,&:nth-child(9){
                                background: $sidetime;
                            }
                        }
                    }
                }
            }
            .sched-option{
                // background-color: white*0.9;
                max-width: $width*3.5;
                display:flex;
                flex:1;
                margin:0!important;
                select{
                   color:white;
                   &>option{
                       &:hover{
                           background:$color4*0.8!important;
                       }
                   }
                   &:active{
                       outline:none;
                   }
                   &>option:hover{
                    box-shadow: 0 0 10px 100px $color4*0.8 inset!important;
                    
                   }
                    &,input[type="button"]{
                        padding:10px;
                        margin:5px;
                        background-color:$color4;
                        border:0;
                    }

                }
                

            }
    }
   
    
}
.highlighted{
    background:red;
}

#app,.sched-option{
    display: inline-block!important;
}

.color1{
    background:$color1!important;
    border:1px solid $color1!important;
}
.color2{
    background:$color2!important;
    border:1px solid $color2!important;
}
.color3{
    background:$color3!important;
    border:1px solid $color3!important;
}
.color4{
    background:$color4!important;
    border:1px solid $color4!important;
}
.color5{
    background:$color5!important;
    border:1px solid $color5!important;
}
.color6{
    background:$color6!important;
    border:1px solid $color6!important;
}
.color7{
    background:$color7!important;
    border:1px solid $color7!important;
}
.color8{
    background:$color8!important;
    border:1px solid $color8!important;
}
.color9{
    background:$color9!important;
    border:1px solid $color9!important;
}
.color10{
    background:$color10!important;
    border:1px solid $color10!important;
}
.color{
    transition:0.3s;
    position: relative;
    color:white!important;
    &:hover{
       
    }
}

.highlight-1{
    border-left:2px solid $color1!important;
    border-right:2px solid $color1!important;
    
}