$top:50px;
#app{
    display:flex;
    flex-direction: column;
    font-family: 'Arial';
    color:white;
    #schedule{
        // height:400px;
        // overflow-y: scroll;
        max-width: 775px;
        margin:  $top auto;
        // background:$tblbackground;
            table{
                z-index: -3;
                // border:0.5px solid $bordercolor;
                border-collapse: collapse;
                border:none!important;
                // margin-top:$height*5;
                tbody{
                    tr{
                        &:first-child>td{
                            height:$height*3;
                            font-size:$height*1.05;
                            font-weight: bold;
                            color:white;
                            background:$header!important;
                        }
                        &:nth-child(2)>td,&:last-child>td{
                            background:$time!important;
                        }
                        td{
                            border:1px solid $bordercolor;
                            height:$height;
                            width:$width;
                            text-align: center;
                            -webkit-user-select: none;
                            -ms-user-select: none;
                            -moz-user-select: none;
                            user-select: none;
                            color:$tdcolor;
                            background: $tblbackground;
                            &:first-child,&:nth-child(9){
                                background: $sidetime;
                            }
                        }
                    }
                }
            }
    }
    .sched-option{
        background-color: white*0.9;
        select{
            padding:10px;
            width:$width*2;
        }
    }
}


.highlighted{
    background:red;
}