$header:        #465D9E;
$time:          #2E3E6B;
$tblbackground: #0B0A1D;
$sidetime:      #151336;
$tdcolor:       #95989A;
$width:         200px;
$height:        25px;
$bordercolor:   #363636;


//colors

$color1:#34495e; 
$color2:#2980b9; 
$color3:#27ae60;
$color4:#e67e22; 
$color5:#f1c40f;
$color6:#c0392b;
$color7:#1abc9c;
$color8:#d35400;
$color9:#2c3e50;
$color10:#e74c3c;